.servicesHeading {
  background: linear-gradient(45deg, #272929, #f6820b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
}

.servicesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
}
